table{
font-size: 14px;
}

caption{
    color: inherit;
}

table td:first-child{
    background: #f1f3f4; 
    vertical-align: top;
}

table td,
table th{
    min-width: 214px;
}

pre{
    background: #f1f3f4;
    padding: 24px;
    border-radius: 4px;
}