/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 100%;
	position: absolute im !important;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* .gm-style-iw {
	height: 100px;
	width: 300px;
} */

/* .gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
	background: transparent;
	border-color: transparent !important;
	box-shadow: none;
} */
